body{
    background:rgb(24, 5, 131)
}
.navbar{
    display: flex;
    gap:60%
}
.left_navbar{
    display:flex;
    color: white;
    font-family: 'Roboto SLab',serif;
    font-size: 2.5rem;
    border:2px solid red;
    width:20%
}
.title{
    display: flex;
}
.title_logo{
    
}
.title_name{

}
.right_navbar{
    
    
}
.right_navbar  {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 1rem 2rem;
}