body{
    background:rgb(4, 5, 61);
    /*color:white;*/

}
.navbar{
    display: flex;
    gap:50%;
    color: white;
    font-family: 'Roboto SLab',serif;
    margin-top: 20px;
    color: white;
}

.title{
    display: flex;
    margin: 10px 40px;
}
.title:hover{
    translateX:-15px;
    color:rgb(255, 255, 143);
    transform: translateY(-10px);
}
.title svg{
    height: 50px;
    width: 50px;
}
.title p{
    font-size: 50px;
    margin-top: -6px;

}
.navbar h5 {
    font-size: 20px;
    margin-top: 30px;
}